* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-image: linear-gradient(
    125deg,
    #24e0d5,
    purple,
    pink,
    orange,
    lightblue,
    green,
    grey
  );
  background-size: 300%;
  animation: ani 5s infinite linear;
}

#right-wheel,
#left-wheel {
  animation: wheel 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

#Man-bike,
#Hat {
  animation: bike 1s ease-in-out infinite alternate;
  transform-origin: bottom;
}

#Hat {
  animation: hat 1s ease-in-out infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes bike {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(20deg);
  }
}
@keyframes hat {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(50%);
  }
}

@keyframes ani {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
